<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout/default}">


<th:block layout:fragment="customJs">
  <script th:src="@{/js/jquery-3.7.0.js}"></script>

</th:block>
<th:block layout:fragment="customContents">
  <div class="row justify-content-center">
    <div class="col-12">
      <h2 class="mb-2 page-title">보증금 관련 기준 생성</h2>
      <p class="card-text">기준 생성</p>
      <div class="row my-4">
        <!-- Small table -->
        <div class="col-md-12">
          <div class="card shadow">
            <div class="card-body">
              <div class="form-wrapper">
                <!-- table -->
                <form id="createDepositStandardForm" th:action="@{/admin/deposit/createDepositStandard}" method="post">
                  <table class="table datables table-hover">
                    <thead>
                    <tr>
                      <th colspan="5">생성</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                     
                      <td>
                        <input type="number" id="waitingDepositPeriod" name="waitingDepositPeriod" placeholder="waitingDepositPeriod"/>
                      </td>
                      <td>
                        <input type="text" id="setDatetime" name="setDatetime" placeholder="setDatetime" hidden="hidden"/>
                      </td>
                      <td>
                        <input type="text" id="adminId" name="adminId" placeholder="adminId" th:value="${userId}"/>
                      </td>
                      <td>
                        <input type="text" id="upDatetime" name="upDatetime" placeholder="upDatetime" hidden="hidden"/>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="10">
                        <button type="submit"id="createDepositStandardBtn">생성</button>
                        <button type="reset" id="resetBtn">입력취소</button>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</th:block>


</html>
