<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{admin/layout/default}">
	      
	<th:block layout:fragment="customContents">
	  <div class="row justify-content-center">
          <div class="col-12">
            <h2 class="mb-2 page-title">입금 대기 만료 기준 삭제</h2>   
              <div class="row my-4">
                <!-- Small table -->
                <div class="col-md-12">
                  <div class="card shadow">
                    <div class="card-body">
                      <div class="form-wrapper">
                      <!-- table -->
						<form id="deleteDepositStandardForm" th:action="@{/admin/deposit/deleteDepositStandard}" method="post">
							<table class="table datables table-hover">
							<thead>
							<tr>
							<th colspan="5">삭제</th>
							</tr>
							</thead>
							 <tbody th:object="${depositStandardInfo}">										
							<tr>
							<td>
								<label for="waitingDepositStandardCode"></label>
							</td>
							<td>
								<input type="text" id="waitingDepositStandardCode" name="waitingDepositStandardCode" th:value="${waitingDepositStandardCode}" placeholder="코드" readonly="readonly"/>
							</td>																			
							<td>
								<input type="text" id="adminId" name="adminId" placeholder="adminId"/>
							</td>
						</tr>
					<tr>
						<td colspan="10">
							<button class="pages btn mb-2 btn-secondary" type="submit"id="deleteDepositStandardBtn">삭제</button>
							<button class="pages btn mb-2 btn-secondary" type="reset" id="resetBtn">입력취소</button>
						</td>
					</tr>
				</tbody>
			</table>
		</form>
	</div>
	</div>
	</div>
	</div>
	</div>
	</div>
	</div>
	</th:block>
		<th:block layout:fragment="customJs">
		 <script>
    	document.getElementById("deleteDepositStandardBtn").addEventListener("click", function() {
      	
      	alert("관리자 ID가 일치하면 삭제됩니다.");      
    });
  </script>
	</th:block>
	
	
</html>
