<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/layout/default}">
<th:block layout:fragment="customContents">
  <section class="page-banner-area" id="category">
    <div class="container h-100">
      <div class="text-center">
        <h1>보증금 결제 성공</h1>
        <nav aria-label="breadcrumb" class="banner-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/"><span class="fe fe-16 fe-home"></span></a></li>
            <li class="breadcrumb-item"><span class="fe fe-16 fe-chevron-right"></span></li>
            <li class="breadcrumb-item active" aria-current="page">보증금 결제 성공</li>
          </ol>
        </nav>
      </div>
    </div>
  </section>
  <section class="order_details section-margin--small">
    <div class="container">
      <div class="order_details_table">
        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr>
              <th scope="col">주문번호</th>
              <th scope="col">결제 금액</th>
              <th scope="col">계좌주명</th>
            </tr>
            </thead>
            <tbody>
            <th:block>
              <tr class="table-center">
                <td th:id="paymentKey"></td>
                <td th:id="amount"></td>
                <td th:id="orderId"></td>
              </tr>
            </th:block>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
    <script>
      // 쿼리 파라미터 값이 결제 요청할 때 보낸 데이터와 동일한지 반드시 확인하세요.
      // 클라이언트에서 결제 금액을 조작하는 행위를 방지할 수 있습니다.
      const urlParams = new URLSearchParams(window.location.search);
      // 서버로 결제 승인에 필요한 결제 정보를 보내세요.
      async function confirm() {
        let requestData = {
          paymentKey: urlParams.get("paymentKey"),
          amount: urlParams.get("amount"),
          orderId: urlParams.get("orderId"),

        };

        const response = await fetch("/deposit/confirm", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(requestData),
        });

        const json = await response.json();

        if (!response.ok) {
          // TODO: 결제 실패 비즈니스 로직을 구현하세요.
          console.log(json);
          window.location.href = `/fail?message=${json.message}&code=${json.code}`;
        }

        // TODO: 결제 성공 비즈니스 로직을 구현하세요.
        console.log(json);
      }
      confirm();
      const paymentKeyElement = document.getElementById("paymentKey");
      const orderIdElement = document.getElementById("orderId");
      const amountElement = document.getElementById("amount");

      orderIdElement.textContent = urlParams.get("orderId");
      amountElement.textContent = urlParams.get("amount");
      paymentKeyElement.textContent =urlParams.get("paymentKey");




    </script>
</th:block>
</html>
